<div class="cmd cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#">
	<script type="text/javascript" src="plugins/motion/desktop/js/jquery.maphilight.min.js"></script>
	<script>
		var hightlightColor='FF0000';
		if ("#state#" == "1")
			hightlightColor='00FF00';
		var coords=JSON.parse('#areas#');
		var shape = (coords.length <= 2) ? 'rect' : 'poly';
		var data = {};
		data.alwaysOn = false;
       	data.fill = true;
       	data.fillColor = hightlightColor;
        data.fillOpacity = '1';
        data.strokeColor = hightlightColor;
		$(".cmd[data-cmd_id=#id#]").closest('.eqLogic').find('.ImgVideoFlux').ready(function(){
			$(".cmd[data-cmd_id=#id#]").closest('.eqLogic').find('.MapHiLight').append(
              			$('<area>')
				      	.addClass("area")
				      	.attr('shape',shape)
					.attr('title',"#name#")
					.attr('alt',"#id#")
					.attr('data-maphilight', JSON.stringify(data))
					//.attr('href',"")
					//.attr('target',"_blank")
			  		.attr('coords',coords.toString()));
			$(".cmd[data-cmd_id=#id#]").closest('.eqLogic').find('.ImgVideoFlux').maphilight();
			$('area[alt=#id#]').trigger('alwaysOn.maphilight');
        	});
	</script>
</div>
