<div class="cmd cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#">
	<script type="text/javascript" src="plugins/motion/desktop/js/jquery.maphilight.min.js"></script>
	<script>
		var hightlightColor='3498db';
		if ("#state#" == "1")
			hightlightColor='2c3e50';
		var coords=JSON.parse('#areas#');
		var shape = (coords.length <= 2) ? 'rect' : 'poly';
		var data = {};
		data.alwaysOn = false;
       		data.fillColor = '3498db';
        	data.strokeColor = '';
        	data.fillOpacity = '0.6';
		$(".cmd[data-cmd_id=#id#]").closest('.eqLogic').find('.ImgVideoFlux').ready(function(){
			$(".cmd[data-cmd_id=#id#]").closest('.eqLogic').find('.MapHiLight').append(
              			$('<area>')
				      	.addClass("area")
				      	.attr('shape',shape)
					.attr('title',"#name#")
					.attr('alt',"#name#")
					//.attr('href',"")
					//.attr('target',"_blank")
			  		.attr('coords',coords.toString()));
			$(".cmd[data-cmd_id=#id#]").closest('.eqLogic').find('.ImgVideoFlux').maphilight();
			$('area[alt=#name#]').data('maphilight', data).trigger('alwaysOn.maphilight');
        	});
	</script>
</div>
