<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;height: #height#;width: #width#;#style#;min-height: 80px;min-weight:80px;">
	<script type="text/javascript" src="plugins/motion/desktop/js/jquery.maphilight.min.js"></script>	
	<span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
	<center class="widget-name">
        	<span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
	</center>
	<center>	
        	<span style="width : 90%;max-height:90%">
			<span class="Detection" style="position:absolute;right:0;">#detect#</span>
			<img id="Video#id#" class="img-responsive" usemap="#map#id#" src="plugins/motion/core/php/stream.php?url=#url#" alt=""/>
  			<map class="MapHiLight" name="map#id#" id="map#id#"></map>
			#maphilightArea#
	    	</span>
        	#action#
        	<span class="cmd cmd-widget" data-type="action" data-subtype="other">
        	    <a class="camera_history btn btn-default btn-sm folder" data-eqLogic_id="#id#" style="background-color:#cmdColor# !important;border-color : transparent !important;"><i class="fa fa-folder-open"></i></a>
        	</span>
    	</center>
    <script>
	    $('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
		    $('#md_modal').dialog({title: "Historique #name#"});
		    $('#md_modal').load('index.php?v=d&plugin=motion&modal=motion.history&id=#id#').dialog('open');
	    });
	    var refreshInterval = setInterval(function() {
		    $('#Video#id#').maphilight();
	    }, 1000); 
	</script>
</div>
